<IfModule mod_rewrite.c>
	RewriteEngine on
	# Hide the application and system directories by redirecting the request to index.php
	RewriteRule ^(application|system|\.git) index.php/$1 [L]
	RewriteCond $1 !^(index\.php|resources|robots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
