body{
	background:black;
	color: #dfe6e9;
}
#costumModal13{
	z-index: 150000;
}
#logo{
	height: 170px;
	width: 170px;
	display: inline;
	margin: 40px 50px;
	margin-top: 0px;
	
}
#logo+h1{
	display: inline;
	font-size: 100px;
	margin-top: 0px;	
}
#sideline{	
	text-align: center;
	display: inline;
	text-transform: uppercase;
	float: right;
	margin-top: -80px;
}
#main-nav{
	background: inherit;
	padding-top: 10px;
	border: 0px;
	z-index: 10000;

	/*position: fixed;*/
}
.nav-items{
	display: inline;
}
.nav-items>input{
	background: inherit;
	border: 0px;	
	
	word-spacing: 3px;	
	padding-top: 20px;
	width: 400px;
}
#search{
	border-bottom: 1px solid #dfe6e9;	
	align-content: center;
	margin-left: 400px;	
	padding-bottom: 5px;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow: scroll;
}
#overlay-text{
    position: absolute;
    top: 70%;
    height: 100%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.fa-search{
	font-size: 1.5em;

}
::placeholder{
	color: #dfe6e9;	
	font-size: 24px;
}
.right-items{
	float: right;
}
.nav-items>a{	
	color: inherit;
	padding: 15px 20px;
}

#info-button{
	font-size: 3em;	
}
.sidebar{
	position: fixed;	
	top: 50%;
}
.sidebar>h3{
	background: #0984e3;
	padding: 3px 8px;	
	left:50px;
}
.sidebar>h3>a{
	color: #2d3436;
}
.comment{
	background: #ffeaa7;
	color: #2d3436;
	margin: 20px auto;
	padding: 10px;
}