body{
	background:#2d3436;
	color: #dfe6e9;
}
#costumModal13{
	z-index: 150000;
}
#logo{
	height: 170px;
	width: 170px;
	display: inline;
	margin: 40px 50px;
	margin-top: 0px;
	
}
.thumbnail{
	max-height: 370px; 
	overflow: hidden;
	border: 0px;
	background: inherit;
}
#logo+h1{
	display: inline;
	font-size: 100px;
	margin-top: 0px;	
}
#sideline{	
	text-align: center;
	display: inline;
	text-transform: uppercase;
	float: right;
	margin-top: -80px;
}
#main-nav{
	background: inherit;
	padding-top: 10px;
	border: 0px;
	z-index: 10000;

	/*position: fixed;*/
}
.nav-items{
	display: inline;
}
.nav-items>input{
	background: inherit;
	border: 0px;	
	
	word-spacing: 3px;	
	padding-top: 20px;
	width: 400px;
}
#search{
	border-bottom: 1px solid #dfe6e9;	
	align-content: center;
	margin-left: 400px;
	
	padding-bottom: 5px;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow: scroll;
}
#overlay-text{
    position: absolute;
    top: 70%;
    height: 100%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.fa-search{
	font-size: 1.5em;

}
::placeholder{
	color: #dfe6e9;	
	font-size: 24px;
}
.right-items{
	float: right;
}
.nav-items>a{	
	color: inherit;
	padding: 15px 20px;
}

#info-button{
	font-size: 3em;	
}
.sidebar{
	position: fixed;	
	top: 50%;
}
.sidebar>h3{
	background: #0984e3;
	padding: 3px 8px;	
	left:50px;
}
.sidebar>h3>a{
	color: #2d3436;
}








.editors-pick>div>img{
	width: 50%;
	height:370px;
}
.editors-pick>div{
	position: absolute;
}
.editors-pick{
	position: relative;
	width: 100%;
	height: 370px;
	margin-bottom: 100px;
}
.picks>div{
	display: inline-block;
}
.picks>div>h1{
	padding:  10% auto;
	font-size: 40px;
}
.editors-pick> div{
	display: none;
}
.active{
	display: block!important;
}

.aside{	
	position: relative;	
	z-index: 1000;
	right: 0px;		
	padding: auto 10px;	
}
#after-vote,#before-vote{
	padding: 20px;
	width: 270px;
	border: solid 2px #ff7675;
}

.affix {
      top: 70px;
      z-index: 9999 !important;
      width: 270px;
  }

.article{
	height: 100%;
	margin-bottom: 50px;
	max-height: 407px;
    overflow: hidden;
}
.details>h4,.details>h5{
	margin: 5px auto;
}
#article-img{
	max-height: 170px;
	height: 170px;
}
#article-img:hover{
	opacity: 0.7;
}
.answer{
	margin: 10px auto;
}
.status-bar{
	border: 1px solid #dfe6e9;
	border-radius: 15px;
	width: 100%;
	padding: 5px;
	height: 30px;
	margin: 0px;
}
.bar-limiter{
	padding: 0px;
}
.bar-value0{
	background: #0984e3;	
	border-radius: 15px;
	height: 18px;
	padding-left: 5px;
	color: #2d3436;	
	animation: open-up 0.7s ;
	z-index: 6000;
}
.bar-value1{
	background: #6c5ce7;
	border-radius: 15px;
	height: 18px;
	padding-left: 5px;
	color: #2d3436;	
	animation: open-up 0.7s ;
	z-index: 6000;
}
.bar-value2{
	background: #d63031;
	border-radius: 15px;
	height: 18px;
	padding-left: 5px;
	color: #2d3436;	
	animation: open-up 0.7s ;
	z-index: 6000;
}
.bar-info{
	color: #ffeaa7;
}
@keyframes open-up {
  0%{ 
  	width: 0; 
  }  
  25%{
  	width: 25%;
  }
  50%{
  	width: 50%;
  }
  75%{
  	width: 75%;
  }
  100%{
   width: auto;
  }
}
